<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <span>
              <h2 class="float-left">
                  LISTA DE PRODUCTOS
              </h2>
              <button (click)="openDialog()" class="float-right" mat-raised-button color="primary">
                Add producto <i class="fas fa-plus-circle"></i>
              </button>
          </span>
        </div>
        <div class="card-body">
            <table class="centered">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody class="three">
                    <tr *ngFor="let bodydata of products_data">
                        <td data-titulo="Id">
                            <div class="content"><span class="display font-weight-bold">{{bodydata.id}} </span></div>
                        </td>
                        <td data-titulo="Nombre">
                            <div class="content"><span class="display font-weight-bold"> {{bodydata.nombre}}  </span></div>
                        </td>
                        <td data-titulo="Cantidad">
                            <div class="content"><span class="display font-weight-bold"> {{bodydata.cantidad}}  </span></div>
                        </td>
                        <td data-titulo="Precio">
                            <div class="content"><span class="display font-weight-bold"> ${{bodydata.precio | number: '.0' }}  </span></div>
                        </td>
                        <td data-titulo="Acciones">
                            <div>
                                <span class="display">
                                  <button (click)="openDialog(bodydata)" mat-raised-button color="primary">
                                    <i class="far fa-edit"></i>
                                  </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="justify-content-center" *ngIf="pages > 1">
    <ngb-pagination class="center" style="display: compact" [(page)]="current_url" [pageSize]="1" [directionLinks]="true" [ellipses]="true" [maxSize]="4" [rotate]="true" (pageChange)="setPage($event)" [collectionSize]="pages">
    </ngb-pagination>
</div>